<h1 class="mt-4">Serviço Prestado</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
    <form #consultaForm="ngForm" (submit)="consultar()">
        <div class="row">
            <div class="col-md-6">
                <label for="inputNome">Nome:</label>
                <input class="form-control" 
                        type="text" name="nome" 
                        id="inputNome" 
                        [(ngModel)]="nome">
            </div>
            <div class="col-md-6">
                <label for="inputMes">Mês:</label>
                <select name="mes" class="form-control" [(ngModel)]="mes">
                    <option value="">Selecione...</option>
                    @for(mes of meses; track mes){
                        <option [value]="mes">{{mes}}</option>
                    }
                </select>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i>
                    Consultar
                </button>
                <button type="button" class="btn btn-warning ml-1" routerLink="/servicos-prestados/form">
                    <i class="fa fa-plus"></i>
                    Novo
                </button>
            </div>
        </div>
    </form>
    <br/>
    <div class="row">
        @if(message){
            <div class="alert alert-warning" role="alert">
                {{message}}
            </div>
        }
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Clienet</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    @for (servico of lista; track servico) {
                        <tr>
                            <td>{{servico.cliente.nome}}</td>
                            <td>{{servico.descricao}}</td>
                            <td>{{servico.valor}}</td>
                            <td>{{servico.data}}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>